.icon-arrow-left { background-position: -0px -0px; }
.icon-print { background-position: -16px -0px; }
.icon-trash { background-position: -32px -0px; }
.icon-edit { background-position: -48px -0px; }
.icon-video { background-position: -64px -0px; }
.icon-arrow-down { background-position: -80px -0px; }
.icon-print { background-position: -96px -0px; }
.icon-arrow-right { background-position: -0px -16px; }
.icon-copy { background-position: -16px -16px; }
.icon-arrow-right { background-position: -32px -16px; }
.icon-book { background-position: -48px -16px; }
.icon-cogs { background-position: -64px -16px; }
.icon-eye-close { background-position: -80px -16px; }
.icon-calendar { background-position: -96px -16px; }
.icon-arrow-up { background-position: -0px -32px; }
.icon-undo { background-position: -16px -32px; }
.icon-edit { background-position: -32px -32px; }
.icon-unlock { background-position: -48px -32px; }
.icon-arrow-home { background-position: -64px -32px; }
.icon-freetime-video { background-position: -80px -32px; }
.icon-cogs { background-position: -96px -32px; }
.icon-arrow-up { background-position: -0px -48px; }
.icon-arrow-home { background-position: -16px -48px; }
.icon-eye-close { background-position: -32px -48px; }
.icon-user-md { background-position: -48px -48px; }
.icon-lock { background-position: -64px -48px; }
.icon-book { background-position: -80px -48px; }
.icon-arrow-down { background-position: -96px -48px; }
.icon-time { background-position: -0px -64px; }
.icon-video-web { background-position: -16px -64px; }
.icon-bookmark { background-position: -32px -64px; }
.icon-redo { background-position: -48px -64px; }
.icon-eye { background-position: -64px -64px; }
.icon-camera { background-position: -80px -64px; }
.icon-arrow-left { background-position: -96px -64px; }
.icon-video-web { background-position: -0px -80px; }
.icon-time { background-position: -16px -80px; }
.icon-cut { background-position: -32px -80px; }
.icon-calendar { background-position: -48px -80px; }
.icon-user { background-position: -64px -80px; }
.icon-user { background-position: -80px -80px; }
.icon-eye { background-position: -96px -80px; }
.icon-lock { background-position: -0px -96px; }
.icon-warning-sign { background-position: -16px -96px; }
.icon-bookmark { background-position: -32px -96px; }
.icon-camera { background-position: -48px -96px; }
.icon-freetime-video { background-position: -64px -96px; }
.icon-undo { background-position: -80px -96px; }
.icon-warning-sign { background-position: -96px -96px; }
.icon-user-md { background-position: -0px -112px; }
.icon-cut { background-position: -16px -112px; }
.icon-redo { background-position: -32px -112px; }
.icon-video { background-position: -48px -112px; }
.icon-unlock { background-position: -64px -112px; }
.icon-copy { background-position: -80px -112px; }
.icon-trash { background-position: -96px -112px; }
